/* ===== RESET Y BASE ===== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* ===== FONDO GLOBAL ===== */
.background {
  position: fixed; /* IMPORTANTE para scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../IMG/fondo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
}

/* ===== TRAMADO ===== */
.hexagon-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: move 10s infinite alternate;
  z-index: 1;
}

@keyframes move {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.4);
  }
}

/* ===== FUENTE PERSONALIZADA ===== */
@font-face {
  font-family: "Berlin Sans FB Demi";
  src: url("../FONTS/berlin-sans-fb-demi.TTF") format("truetype");
}

.main-container {
  position: relative;
  z-index: 2;
}
