/* Cards Bootstrap – estilo premium */
.card {
  background-color: rgba(0, 0, 0, 0.45) !important;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.4s ease;
}

.card:hover {
  transform: translateY(-6px);
  background-color: rgba(0, 0, 0, 0.65) !important;
  box-shadow: 0 0 18px rgba(0, 150, 255, 0.25);
}

.card-title {
  font-weight: 600;
}

.card-text {
  opacity: 0.9;
}

/* ===== PROYECTOS ===== */
.project-card {
  border: none;
  border-radius: 0.75vw;
}

.project-card .btn {
  align-self: flex-start;
}

.github-btn {
  border-color: rgba(0, 150, 255, 0.7);
  color: #ffffff;
  background-color: transparent;
  transition: all 0.6s ease;
  backdrop-filter: blur(2px);
}

.github-btn:hover {
  background-color: rgb(0, 149, 255);
  color: #ffffff;
  border-color: rgba(0, 150, 255, 1);
}

.tech-badge {
  border: none;
  border-radius: 0.75vw;
  backdrop-filter: blur(2px);
  color: white;
  padding: 15px 0px;
}

.tech-badge:hover {
  transform: none;
  box-shadow: 0 0 18px rgba(0, 150, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.card-img-top {
  /* redondea bordes de las imágenes */
  border-radius: 0.75vw 0.75vw 0 0;
  object-fit: cover;
}

/* SCROLL HORIZONTAL INFINITO */
.tech-marquee {
  overflow: hidden;
  width: 100%;
}

.tech-track {
  display: flex;
  gap: 1rem;
  width: max-content;
  cursor: default;
  transition: opacity 0.3s ease;
}

.tech-track:hover {
  opacity: 0.9;
  filter: brightness(0.96);
}

.tech-badge {
  min-width: 160px;           /* evita que se aplaste */
  text-align: center;
  padding: 14px 20px;
  border-radius: 0.75vw;
  white-space: nowrap;

  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(2px);
  color: #fff;
}

